.first-container{
    margin-top: 15px;
}
.container {
    border: 1px solid black;
}

img {
    height: 100px;
    width: 100px;
}

.head {
    display: flex;
}

.head-div {
    width: 85%;
}

td {
    padding-left: 6px;
}
.per{
    margin-left: 10rem;
}
.per-mark{
    margin: 1rem;
}
.editbtn{
    position: absolute;
    bottom: 0;
    right: 0;
}